<app-header></app-header>
<div class="fotoprincipal" style="background-image: url('../../../assets/img/fot.jpg');">
  <div class="color-overlay d-flex justify-content-center align-items-center">
    <h2 class="fw-bolder responsive-font-example">"EL UNICO ENTRENAMIENTO<br>
      MALO ES AQUEL QUE NO<br>
      SE HA HECHO"</h2>
  </div>
</div>
<!-- Foto Principal -->
<!-- Cartas de ejercicios -->
<div class="container">
  <div class="row my-4">
    <div class="row cards" style="width: auto; margin: auto auto;">
      <div class="col-xl-4 col-md-6 col-lg-5 col-sm-12 mb-2 mx-auto" *ngFor="let ejercicio of ejerciciopublico.slice(0,3)">
        <div class="card card-height h-100">
          <img [src]="ejercicio.foto" class="card-img-top" [title]="ejercicio.titulofoto">
          <div class="card-body">
            <h4 class="card-text">{{ejercicio.tituloejercicio}}</h4>
            <p class="card-text">{{ejercicio.descripcion}}</p>

          </div>
          <div class = "card-footer">
            <div class="col text-center">
              <a type='buttom' [routerLink] = "['/Ejercicio',ejercicio.idejercicio]" class="btn-fblanco btn btn-danger rounded-pill text-uppercase">Dirigir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cartas de ejercicios -->
<!-- Parte roja pagina abajo -->
<div class="container-fluid py-5" style="background-color: #8B0000">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-5 text-center">
      <img class="img-responsive" src="../../../assets/img/ejercicio.png" height="300px">
    </div>
    <div class="col-lg-6 col-md-4 col-sm-10 mt-3 text-center">
      <div class="col-lg-8 col-md-10 col-sm-10">
        <h2 class="fw-bolder text-white">Desata tu Potencial: ¡Descubre Nuestros Ejercicios!</h2>
        <p class="text-white fw-bolder">¿Listo para elevar tu rutina física al siguiente nivel? Navega por nuestro apartado de ejercicios y encuentra una variedad de movimientos 
          diseñados para fortalecer, tonificar y transformar tu cuerpo.
          ¡Dale un giro a tu entrenamiento y descubre nuevas formas de mantenerte en forma con nosotros!</p>
        <div class="col text-center">
          <div class="mx-5">
            <a href="#"
               class="btn btn-light rounded-pill text-uppercase fw-bolder text-custom" [routerLink] = "['/Ejercicios']">Dirigir</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Parte roja pagina abajo -->
<!-- Parte blanca antes del footer -->
<div class="container-fluid py-5" style="background-color: #FFFFFF">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-4 col-sm-10 mt-3 text-center">
      <div class="col-lg-8 col-md-10 col-sm-10">
        <h2 class="fw-bolder">Embárcate en el Viaje del Fitness: ¡Explora Nuestras Rutinas!</h2>
        <p class="fw-bolder">Ya sea que estés comenzando tu travesía en el mundo del fitness o busques renovar tu rutina,
           nuestro compendio de rutinas físicas está hecho a medida para ti. Diseñadas para desafiar, 
           motivar y obtener resultados, nuestras rutinas se adaptan a distintos niveles y objetivos. 
           Sumérgete y encuentra la guía perfecta para tu transformación física.
           ¡Con nosotros, cada día es una nueva oportunidad para superarte!</p>
        <div class="col text-center">
          <div class="mx-5">
            <a type='buttom' href="#" class="btn-fblanco mt-3 btn btn-custom rounded-pill text-uppercase" [routerLink] = "['/Rutinas']">Dirigir</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
      <img class="img-responsive foto-abajo" src="../../../assets/img/ejercicio2.png">
    </div>
  </div>
  <!-- Parte blanca antes del footer -->
</div>

<app-footer></app-footer>