<div class="fotoBack">
	<div class="container full d-flex justify-content-center align-items-center">
		<div class="row justify-content-center">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card pe-3">
                        <div class="card-top text-center mt-4">
                            <a [routerLink]="['']"><img src="../assets/img/nullEnRojo.png" height="55rem;"></a>
                        </div>
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col">
                                    <form [formGroup]="formularioRegistro" (ngSubmit)="solicitarPass()">
                                            <label for="campoContraseña">Ingrese nueva contraseña</label>
                                            <input type="password" class="form-input" id="campoContraseña"
                                                   placeholder="**********"
                                                   formControlName="contraseña"
                                                   (click) = "pass()">
                                            <div *ngIf="formularioRegistro.get('contraseña')?.touched && formularioRegistro.get('contraseña')?.errors?.['required'] || passw == false"
                                                 class="errorCualquiera">Este campo es obligatorio
                                            </div>
                                            <div *ngIf="formularioRegistro.get('contraseña')?.touched && formularioRegistro.get('contraseña')?.errors?.['pattern']"
                                                 class="errorCualquiera">
                                                 <p class = "text-justify">La contraseña debe como minimo una letra mayuscula, un numero, un caracter especial
                                                    y 8 caracteres</p>
                                            </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-danger mt-3 ">Recuperar contraseña</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
