<app-header></app-header>
<div class="container-fluid py-5" style="background-color: #FFFFFF">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-4 col-sm-10 mt-3 text-center">
      <div class="col-lg-8 col-md-10 col-sm-10">
        <h2 class="fw-bolder">Nuestra misión</h2>
        <p class = "mt-3 fuente">En NullFitness, nuestra misión es empoderar tu viaje hacia una vida más saludable y activa.
          Nos dedicamos a proporcionar una experiencia personalizada que se ajuste a tus metas únicas de fitness, independientemente de tu punto de partida. Entendemos que cada paso hacia el bienestar es personal y,
          por eso, nuestra plataforma está diseñada para adaptarse a tus necesidades individuales, motivarte y
          ofrecerte el apoyo necesario para que logres tus objetivos.
          Ya sea que estés dando tus primeros pasos en el mundo del ejercicio o seas un atleta experimentado buscando optimizar tu rendimiento,
          NullFitness está aquí para guiarte en cada zancada, cada levantamiento y cada salto hacia tu mejor versión.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
      <img class="img-responsive foto-abajo" src="../../../assets/img/corazonAcercaDe.png">
    </div>
  </div>
  <!-- Parte blanca antes del footer -->
</div>

<div class="container-fluid py-5" style="background-color: #8B0000">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-5 text-center">
      <img class="img-responsive" src="../../../assets/img/medicos.png" height="300px">
    </div>
    <div class="col-lg-6 col-md-4 col-sm-10 mt-3 text-center">
      <div class="col-lg-8 col-md-10 col-sm-10">
        <h2 class="fw-bolder text-white">¡Importante!</h2>
        <p class="text-white fuente">En NullFitness, nos comprometemos a brindarte herramientas para fomentar un estilo de vida activo y saludable. Sin embargo, es importante destacar que nuestra aplicación está diseñada para personas sin enfermedades preexistentes ni lesiones previas que podrían limitar su capacidad para realizar ejercicio físico seguro. Antes de comenzar cualquier nuevo programa de entrenamiento, recomendamos encarecidamente consultar con un profesional médico para asegurarte de que el ejercicio es seguro para ti. La salud es una responsabilidad personal, y escuchar a tu cuerpo y buscar orientación médica profesional es esencial para evitar lesiones y garantizar que tu viaje hacia el bienestar se realice de la manera más segura posible.</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
